body{
    background: #fffff8;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    margin: 0;
}
/* Mobile first 320px — 599px */
#app{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 75px auto 100px;
    grid-template-areas: 
        "header"
        "main"
        "footer";
    grid-gap: 1em;
    justify-content: center;
    box-sizing: border-box;
    height: 100vh;
    min-width: 320px;
    padding: 10px;
    background: #f23557;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;  
}
header,
footer {
    text-align: center;
}
main {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-auto-flow: row;
    align-content: start;
}
.entry{
    overflow: hidden;
}
#entryHolder{
    background: rgba(59, 74, 107, .4);
    min-height: 100px;
    height: 100%;
    padding: 5px 10px;
}
#icon {
    float: right;
}
textarea{
height: 100px;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 22px;
}
input{
    display:block;
    height: 60px;
    width: 100%;
    background:#22b2da;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
}
button{
    width: 100%;
    height: 50px;
    background: #3b4a6b;
    color: #f0d43a;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    cursor: pointer;
}
button:hover {
    background: #4d608a;
    color: #f5e273;
}
h1{
    font-size: 28px;
}
textarea{
    background:#22b2da;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    width: 100%;
}
a {
    color: #f0d43a;
}
a:hover {
    color: #f5e273;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
input,
textarea,
button {
    box-sizing: border-box;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;
} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;
} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 

/* iPad, Desktop - 600px and up */
@media only screen and (min-width: 600px) {
    #app {
        grid-template-rows: 100px auto 100px;
    }
    h1 {
        font-size: 48px;
    }
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100px auto;
        grid-auto-flow: column; 
        grid-gap: 1em;
        max-height: 600px;
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
    }
    .entry {
        grid-column: 2;
        grid-row: 1 / 3;
    }
    textarea {
        height: 350px;
    }
    button {
        height: 100px;
    }
    label {
        font-size: 27px;
    }
}